.main-content {
  margin-top: 169px;
  margin-left: 250px;
  padding-right: 80px;
}

.main-content h2 {
  color: var(--standard-color);
  font-weight: 500;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
}

.top-line {
  position: absolute;
  top: 0;
  width: 100%;
  border: 0.5px solid lightgray;
}

.project .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 1fr;
  grid-template-rows: 70% 1fr;
}

.project .left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project input[type="radio"] {
  margin-right: 20px;
  margin-bottom: 5px;
}

.project .left .bottom {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-clock,
.time-display,
.date-display,
.fa-calendar {
  font-size: 0.8rem;
  margin-left: 10px;
  color: var(--time-color);
  margin-top: 3px;
}

.date-display,
.fa-calendar {
  color: var(--hover-color);
}

.fa-clock {
  margin-left: 15px;
}

.project .right {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 70% 1fr;
  grid-template-rows: 70% 1fr;
}

.project button {
  margin-left: 30px;
  border: 1px solid lightgray;
  cursor: pointer;
  color: var(--white-text);
  background-color: var(--standard-color);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 1.5px;
}

.project button:hover {
  background-color: var(--delete-color);
}

.fa-ellipsis {
  cursor: pointer;
}

.project .right .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .fa-hashtag {
  margin-left: 20px;
  font-size: 0.9rem;
}